[Unit]
Description=File Sharing Flask Application
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/file-sharing
Environment="PATH=/var/www/file-sharing/venv/bin"
ExecStart=/var/www/file-sharing/venv/bin/python ip.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
